<div>
    <app-header></app-header>
</div>

<div class="main">
    <p class="heading">Assessment</p>
    <mat-divider ></mat-divider>
    <div *ngFor="let assessment of assessments" class="list">
        <div class="mainDiv">
            <div class="subOne">
                <p class="assName">{{assessment.name}} # {{assessment.id}} </p>
            </div>
            <div class="subTwo">
                <button class="start" mat-raised-button primary (click)="start(assessment)">
                    Start
                </button>
            </div>
            
           
        </div>
       
        
    </div>
    
        
</div>

